article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

@font-face {
    font-family: 'ws-lte';
    src: url('/fonts/worksans-lte/WorkSansLight.eot');
    src: url('/fonts/worksans-lte/WorkSansLight.eot') format('embedded-opentype'),
         url('/fonts/worksans-lte/WorkSansLight.woff2') format('woff2'),
         url('/fonts/worksans-lte/WorkSansLight.woff') format('woff'),
         url('/fonts/worksans-lte/WorkSansLight.ttf') format('truetype'),
         url('/fonts/worksans-lte/WorkSansLight.svg#WorkSansLight') format('svg');
	font-weight: normal;
	font-style: normal;
 }

 @font-face {
  font-family: 'ws-reg';
  src: url('/fonts/worksans-reg/WorkSansRegular.eot');
  src: url('/fonts/worksans-reg/WorkSansRegular.eot') format('embedded-opentype'),
       url('/fonts/worksans-reg/WorkSansRegular.woff2') format('woff2'),
       url('/fonts/worksans-reg/WorkSansRegular.woff') format('woff'),
       url('/fonts/worksans-reg/WorkSansRegular.ttf') format('truetype'),
       url('/fonts/worksans-reg/WorkSansRegular.svg#WorkSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}


html, body {
  position: relative;
  height: 100%; 
}

body {
  height: 100%; 
  font-family: 'ws-lte';
  background: #FFF;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.site-header{
  position: fixed;
  width: 100%;
  height: 165px;
  background: transparent;
  transition: all 300ms ease-out;
  pointer-events: none;
}
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: #FFF;
  transition: all 300ms ease-out;
  z-index: 100;
}

.logo{
  width: 240px;
  height: 57px;
  margin: 40px auto 0;
  background-image: url(/img/sevenbar_logo-min-white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; 
  transition: all 300ms ease-out;
}
.logo-min{
  width: 268px;
  height: 57px;
  margin: 20px auto 0;
  background-image: url(/img/sevenbar_logo-min-black.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 85%;
  transition: all 300ms ease-out;
}
.menu-icon{
  position: absolute;
  top: 50px;
  left: 0px;
  transition: all 300ms ease-out;
  pointer-events: all;
}
.menu-icon-min{
  position: absolute;
  top: 35px;
  left: 0px;
  transition: all 300ms ease-out;
}
section{
  width: 100%;
}
.landing{
  height: 100vh;
  width: 100%;
  padding: 0;
  /* border: 10px solid #fff; */
  background-image: url(/img/landing/main-07.jpg);
  background-position-x: center;
  background-size: cover; 
  transition: all 300ms ease-in-out;
}
.about{
  display: flex;
  flex-wrap: nowrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0 100px;
}
.about .lrg-title{
  padding-right: 40px;
  width: 330px;
}
.lrg-title{
  font-family: 'ws-lte';
  font-size: 40px;
  line-height: 38px;
  color: #2c2c2c;
  letter-spacing: -2px;
  text-transform: uppercase;
}
.para{
    letter-spacing: 0px;
    text-transform: initial;
    font-size: 15px;
    line-height: 23px;
    color: #404040;
    text-align: left;
    font-style: inherit;
    font-weight: 300;
    padding-top: 0px;
    padding-bottom: 0px;
}
/* SEDUCTION */
.seduction-section{
  position: relative;
  width: 100%;
  height: auto;
  padding: 80px 0 0 0;
  background: #f1f1f1;
  z-index: 1;
}
.seduction-content{
  position: relative;
  max-width: 1000px;
  height: 735px;
  margin: 0 auto;
}
.seduction-content-box{
  width: 50%;
}
.seduce-vert-img{
  position: absolute;
  right: 0;
  top: 0;

}
.seduce-vert-img img{
  max-width: 400px;
  height: auto;
}
/* .seduction-1{
  width: 100%;
  height: 400px;
 
  background: rgba(223,0,19,1);
background: -moz-linear-gradient(left, rgba(223,0,19,1) 0%, rgba(221,79,122,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(223,0,19,1)), color-stop(100%, rgba(221,79,122,1)));
background: -webkit-linear-gradient(left, rgba(223,0,19,1) 0%, rgba(221,79,122,1) 100%);
background: -o-linear-gradient(left, rgba(223,0,19,1) 0%, rgba(221,79,122,1) 100%);
background: -ms-linear-gradient(left, rgba(223,0,19,1) 0%, rgba(221,79,122,1) 100%);
background: linear-gradient(to right, rgba(223,0,19,1) 0%, rgba(221,79,122,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df0013', endColorstr='#dd4f7a', GradientType=1 );
} */
.seduction-bg{
  position: absolute;
  top:0;
  height: 400px;
  width: 100%;
  margin: 0 auto;
  background: url(/img/landing/seduction-bg.png);
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.board-members-section{
  width: 100%;
}
.board-members-container{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}
.board-members{
  flex:1;
  margin-right: 30px; 
}
.board-members img{
  width: 100%;
}
.name{
  float:right;
  padding: 10px 0;
  text-align: right;
}
/*//////////// Media query LANDING ////////////*/

@media all and (min-width: 768px) and (max-width: 1024px) { 
 
  .about {
    flex-wrap: wrap;
    padding: 80px 50px;
  }
  .about > .lrg-title {
    width: 300px;
    padding-bottom: 40px;
  }
  .seduction-content-box {
    width: 50%;
    padding: 0 50px;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) { 
  .logo {
    width: 200px;
  }
  .landing{
    height: 60vh;
  }
  .menu-icon {
    position: absolute;
    top: 50px;
    left: -35px;
  }
  .about {
    flex-wrap: wrap;
    padding: 80px 50px;
  }
  .about > .lrg-title {
    width: 300px;
    padding-bottom: 40px;
  }
  .para{
    font-size: 15px;
  }
}

@media all and (max-width: 480px) {
  .logo {
    width: 200px;
  }
  .landing{
    height: 60vh;
  }
  .menu-icon {
    position: absolute;
    top: 50px;
    left: -35px;
  }
  .about {
    flex-wrap: wrap;
    padding: 80px 50px;
  }
  .about > .lrg-title {
    width: 300px;
    padding-bottom: 40px;
  }
  .para{
    font-size: 15px;
  }

 }


 /*//////////////////////////////////////////

            IMPACT PAGE 

  /////////////////////////////////////////*/

.impact-header{
  padding-top: 110px;
  height: 270px;
}
.page-title{
  margin: 0 auto;
  text-align: center;
  font-family: 'ws-lte';
  font-size: 54px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
span.pre-title{
  font-size: 24px;
  letter-spacing: 5px;
}
nav.impact-nav {
  width: 100%;
  padding: 50px 0;
  border-top: 1px solid #ececec;
}
.countries-container{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
.countries-container > a{
  flex: 1;
  min-width: 72px;
  text-align: center;
  padding: 8px 0;
  margin: 0 5px;
  font-size: 14px;
  text-transform: uppercase;
  background: #fff;
  border: none;
  outline: none;
  text-decoration: none;
  color: black;
  transition: all 300ms ease-out;
}
.countries-container > a:hover{
  background: #f1f1f1;
  transition: all 300ms ease-out;
}
.countries-container > a.active{
  background: #f1f1f1;
}
.impact-banner{
  display: flex;
  align-items: center;
  background: #ff265b;
}

.impact-country-img{
  flex: 1;
  width: 50%;
  height: 345px;
}
.impact-country-content{
  flex: 1;
  width: 50%;
}
.impact-country-img img{
  width: 100%;
  height: 100%;
  border: 0;
  object-fit: cover;
  object-position: center;
  
}

.impact-country-content, .loan-stats{
  padding: 35px 0 35px 95px;
}

.impact-country-title{
  padding: 0 0 20px 0;
  font-size: 28px;
  line-height: 25px;
  color: white;
  text-transform: uppercase;
}
ul.loan-stats{
  margin: 0;
  padding: 0;
}
ul.loan-stats li{
  list-style-type: none;
  margin: 0;
  padding: 0 0 4px 0;
  color: white;
  font-size: 14px;
  font-style: italic;
}

.org-container{
  width: 100%;
  padding: 80px 0;
  background: #f1f1f1;
}
.org-summary{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px 45px 20px;
}
.org-bullet-grid{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
.org-bullets{
  flex: 1;
  width: 50%;
  margin: 10px;
  padding: 40px 40px 40px 70px;
  background: url(/img/bullet-pink-circle.png) 30px 58px no-repeat white;
}
.impact-testimonials-container{
  width: 100%;
  padding: 120px 0;
}
.testimonials-container{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
.testimonials-title {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: -2px;
}
span.name {
  font-size: 18px;
  font-style: italic;
  line-height: 47px;
}
.testimonials-content{
  flex: 1;
  width: 50%;
  margin:30px;
}
.testimonials-img{
  flex: 1;
  width: 50%;
  margin:30px;
}
.testimonials-img img {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  object-fit: cover;
  object-position: 50% 50%;
}


@media all and (min-width: 480px) and (max-width: 768px) { 
  .impact-banner{
    display: block;
  }
  .impact-country-img{
    width: 100%;
    height: 290px;
  }
  .impact-country-content{
    width: 100%;
    height: auto;
  }
  .impact-country-content, .loan-stats{
    padding: 35px 0 35px 35px;
  }
  .impact-country-title{
    margin: 0 auto;
  }
}

.white-txt{
  color: white;
}
.padbottom-40{
  padding-bottom: 40px;
}